<div class="container-fluid" style="background-color: none;">
  <section>
    <app-toolbar></app-toolbar>
  </section>

  <main class="container main-space-content">
    <div class="row ">
      <div
        class="col-12 col-md-9 col-lg-11 justify-content-center mx-auto"
        style="background-color: white"
      >
        <app-base-table [showSearchBar] = true [tbCols] = "tbNameCols" [pages] = "pages" [first] = "first" [last] = "last" [page] = "page">
          <tbody>
            <tr *ngFor="let coupon of coupons">
              <td colspan="2">{{ coupon.vc }}</td>
              <td colspan="2" class="justify-content-center">{{ coupon.vd }}</td>
              <td colspan="2" class="justify-content-center">{{ coupon.dti }}</td>
              <td colspan="2" class="justify-content-center">{{ coupon.dtf }}</td>
              <td colspan="2" style="text-align: left !important;">
                <a (click)="update(coupon)">
                  <img alt="" src="assets/img/toolbar/icon-32-update.png"
                /></a>
              </td>
              <td colspan="2" class="justify-content-center">
                <a (click)="delete(coupon.idC)">
                  <img alt="" src="assets/img/toolbar/icon-32-delete.png"
                /></a>
              </td>
            </tr>
          </tbody>

        </app-base-table>
       <app-spinner-loader></app-spinner-loader>
      </div>
    </div>
  </main>

  <div class="backdrop" [ngStyle]="{ display: display }"></div>

  <app-base-modal title = {{titleModal}} idModal="myModal">
    <div class="modal-body"><app-form-coupon #formCouponComp></app-form-coupon></div>
    <div class="modal-footer">
        <button
        type="button"
        class="btn btn-secondary"
        (click)="formCouponComp.resetaDadosForm(); onClickedClose()"
      >
        Fechar
      </button>
      <button
        type="button"
        class="btn btn-primary"
        data-dismiss="modal"
        (click)="formCouponComp.submit()"
      >
        Salvar
      </button>
    </div>
  </app-base-modal>

  <app-base-alert-modal title = {{titleModal}} body = {{bodyModal}} idModal = "myModalAlert">
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-dismiss="modal"
        (click)="clickBtnNo()"
      >
        Não
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="clickBtnYes()"
      >
        Sim
      </button>
    </div>
  </app-base-alert-modal>
</div>
