<div class="container-fluid" style="background-color: none;">
  <!--div class="row col-sm-10 mx-auto" style="background-color: white;">
    <div class="position-relative ">
      <app-sidebar-menu></app-sidebar-menu>
    </div>
    <div class="col-md-1 col-1 pl-2 pt-2" style="background-color: none;">
        <a href="#sidebar" data-toggle="collapse">
            <i class="fa fa-navicon fa-lg"></i>
          </a>
    </div>
  </div-->
  <!--app-toolbar></app-toolbar-->
</div>

<div class="container-fluid">
  <div class="row ">
    <div
      class="col-sm-10 justify-content-center mx-auto"
      style="background-color: none"
    >
      <app-item-dashboard
        linkFor="/conf"
        srcImg="assets/img/icon-48-config.png"
        label="Configurações"
      >
      </app-item-dashboard>
      <app-item-dashboard
        linkFor="/cp"
        srcImg="assets/img/icon-CuponDesc-48.png"
        label="Cupons"
      >
      </app-item-dashboard>
      <app-item-dashboard
      linkFor="/ords"
      srcImg="assets/img/icon-48-pedidos.png"
      label="Pedidos"
    >
    </app-item-dashboard>
      <app-item-dashboard
        linkFor="/prods"
        srcImg="assets/img/icon-48-produtos.png"
        label="Produtos"
      >
      </app-item-dashboard>

      <app-item-dashboard
        linkFor="/us"
        srcImg="assets/img/icon-48-usuarios.png"
        label="Usuários"
      >
      </app-item-dashboard>
    </div>
  </div>
</div>
