<div  class="container-fluid mainSpace">
  <section>
    <div class="py-5 text-center">
     <img
        class="d-block mx-auto mb-4"
        src="assets/img/h2o.png"
        width="72"
        height="72"
        alt=""
      />
      <h2>Junte-se a Nós</h2>
      <p class="lead">
        É simples, basta preencher os dados da sua empresa abaixo :)
      </p>
    </div>
    <app-base-alert-msg></app-base-alert-msg> 
  </section>
 <main class="container">
    <div class="row ">
      <div
        class="col-12 col-md-6 col-lg-6 justify-content-center mx-auto"
      >
        <app-form-join></app-form-join>
        <div class="space-spinner-load">
            <app-spinner-loader isShow = "n"></app-spinner-loader>
        </div>
      </div>
    </div>
  </main>
</div>
