.mainSpace {
  margin-top: -10.5rem !important;
}

.space-spinner-load {
  margin-top: -23.5rem !important;
}

@media(max-width:767px) {
  .space-spinner-load {
    margin-top: -33.5rem !important;
  }
}

